include ../../../components/blocks/filter/filter
include ../../../components/blocks/filter-order/filter-order
include ../../../components/elements/category-card/category-card
include ../../../components/blocks/nav-pages/nav-pages
include ../../../components/blocks/sidebar/sidebar
include ../../../components/blocks/mobile-filter/mobile-filter

mixin category()
  +b('section').category
    +mobile-filter
    .container
      .d-flex.align-items-start.category-block
        +filter
        .tab-content.mobile-tab-content
          .tab-item(id='oldCar')
            +e.tab-item
          .tab-item.tab-item-active(id='newCar')
            +e.tab-item
              -
                var select = [
                'Легковые автомобили',
                'Марка',
                'Модель',
                'Тип кузова',
                'Коробка',
                'Типы двигателя'
                ]
              each item in select
                .select.mb10
                  select.select2-js(data-placeholder= item)
                    option
                    -
                      var options = [
                      'AC',
                      'Acura',
                      'Alfa Romeo',
                      'Alpina',
                      'AM General',
                      'Ariel'
                      ]
                    - for (var i = 0; i < 10; i++)
                      each option in options
                        option= option
              .hr.mt15.mb25
              +e.price
                input(type='number' placeholder='Цена от, ₽')
                input(type='number' placeholder='до')
              .hr.mt25.mb20
              .d-flex.justify-content-between
                +b('label').checkbox.checkbox-normal.mt5.mb5
                  input(type='checkbox')
                  +e.main
                    i.fa.fa-check
                  span Частные
                +b('label').checkbox.checkbox-normal.mt5.mb5
                  input(type='checkbox')
                  +e.main
                    i.fa.fa-check
                  span Автодилеры
        +b.mobile-sort
          +e.mark
            +e('span') Марка
            +b('button').btn-arrow Все
          +e.block
            +b.mobile-sort__filter.sidebar-filter
              +b('button').jsSort
                +e('img')(src='assets/images/svg/sort.svg' alt='')
                | Сортировка
              +b('button').jsFilter
                +e('img')(src='assets/images/svg/filtr.svg' alt='')
                | Еще фильтры
        +e.main
          +filter-order
          +b('span').mobile-category-text Всего 318 319 объявлений
          +category-card
          +b.category-card
            +e('img')(src='assets/images/cards/category_card_image2.png' alt='').image
            +e.right
              +b.category-card__head
                +e('a')(href='#').head__name Subaru XV, 2 поколение
                +e.head__price
                  +e('span') 2 069 900 ₽
                  +e('a').head__price__heart.single-adv__like(href='#')
                    i.fa.fa-heart-o
              +b('span').category-card__data Добавлено:<br> 19 марта 2018, 17:15
              +b.category-card__description
                +e('span') Без пробега
                +e('span') 2019 г.
                +e('span') 2 л, Дизель
                +e('span') Внедорожник
                +e('span') 180 л.с.
                +e('span') Автомат
              +b.category-card__bottom
                a.d-flex.align-items-center(href='#')
                  +b('svg').__icon.ico._gray
                    +e('use')(xlink:href="assets/images/svg.svg#nav")
                  span.ml5.c-gray.fz12 Санкт - Петербург
                .ml-auto
                  .single-card__detail-view
                    img.mr5(src='assets/images/icon-eye.png' alt='')
                    span 255
          +b.category-card
            +e('img')(src='assets/images/cards/category_card_image1.png' alt='').image
            +e.right
              +b.category-card__head
                +e('a')(href='#').head__name Land Rover Range Rover Evoque
                +e.head__price
                  +e('span') 2 523 700 ₽
                  +e('a').head__price__heart.single-adv__like(href='#')
                    i.fa.fa-heart-o
              +b('span').category-card__data Добавлено:<br> 19 марта 2018, 17:15
              +b.category-card__description
                +e('span') Без пробега
                +e('span') 2019 г.
                +e('span') 2 л, Дизель
                +e('span') Внедорожник
                +e('span') 180 л.с.
                +e('span') Автомат
              +b.category-card__bottom
                a.d-flex.align-items-center(href='#')
                  +b('svg').__icon.ico._gray
                    +e('use')(xlink:href="assets/images/svg.svg#nav")
                  span.ml5.c-gray.fz12 Санкт - Петербург
                .ml-auto
                  .single-card__detail-view
                    img.mr5(src='assets/images/icon-eye.png' alt='')
                    span 255
          +b.category-card
            +e('img')(src='assets/images/cards/category_card_image2.png' alt='').image
            +e.right
              +b.category-card__head
                +e('a')(href='#').head__name Subaru XV, 2 поколение
                +e.head__price
                  +e('span') 2 069 900 ₽
                  +e('a').head__price__heart.single-adv__like(href='#')
                    i.fa.fa-heart-o
              +b('span').category-card__data Добавлено:<br> 19 марта 2018, 17:15
              +b.category-card__description
                +e('span') Без пробега
                +e('span') 2019 г.
                +e('span') 2 л, Дизель
                +e('span') Внедорожник
                +e('span') 180 л.с.
                +e('span') Автомат
              +b.category-card__bottom
                a.d-flex.align-items-center(href='#')
                  +b('svg').__icon.ico._gray
                    +e('use')(xlink:href="assets/images/svg.svg#nav")
                  span.ml5.c-gray.fz12 Санкт - Петербург
                .ml-auto
                  .single-card__detail-view
                    img.mr5(src='assets/images/icon-eye.png' alt='')
                    span 255
          +b.category-card
            +e('img')(src='assets/images/cards/category_card_image1.png' alt='').image
            +e.right
              +b.category-card__head
                +e('a')(href='#').head__name Land Rover Range Rover Evoque
                +e.head__price
                  +e('span') 2 523 700 ₽
                  +e('a').head__price__heart.single-adv__like(href='#')
                    i.fa.fa-heart-o
              +b('span').category-card__data Добавлено:<br> 19 марта 2018, 17:15
              +b.category-card__description
                +e('span') Без пробега
                +e('span') 2019 г.
                +e('span') 2 л, Дизель
                +e('span') Внедорожник
                +e('span') 180 л.с.
                +e('span') Автомат
              +b.category-card__bottom
                a.d-flex.align-items-center(href='#')
                  +b('svg').__icon.ico._gray
                    +e('use')(xlink:href="assets/images/svg.svg#nav")
                  span.ml5.c-gray.fz12 Санкт - Петербург
                .ml-auto
                  .single-card__detail-view
                    img.mr5(src='assets/images/icon-eye.png' alt='')
                    span 255
          +b.category-card
            +e('img')(src='assets/images/cards/category_card_image2.png' alt='').image
            +e.right
              +b.category-card__head
                +e('a')(href='#').head__name Subaru XV, 2 поколение
                +e.head__price
                  +e('span') 2 069 900 ₽
                  +e('a').head__price__heart.single-adv__like(href='#')
                    i.fa.fa-heart-o
              +b('span').category-card__data Добавлено:<br> 19 марта 2018, 17:15
              +b.category-card__description
                +e('span') Без пробега
                +e('span') 2019 г.
                +e('span') 2 л, Дизель
                +e('span') Внедорожник
                +e('span') 180 л.с.
                +e('span') Автомат
              +b.category-card__bottom
                a.d-flex.align-items-center(href='#')
                  +b('svg').__icon.ico._gray
                    +e('use')(xlink:href="assets/images/svg.svg#nav")
                  span.ml5.c-gray.fz12 Санкт - Петербург
                .ml-auto
                  .single-card__detail-view
                    img.mr5(src='assets/images/icon-eye.png' alt='')
                    span 255
          +nav-pages
          .category-mobile-all-ads.d-flex.justify-content-center.mt20
            button.button.button_gray.button_big Показать все объявления из этой категории
        +sidebar
