include ../../../components/blocks/filter/filter
include ../../../components/blocks/filter-order/filter-order
include ../../../components/elements/category-card/category-card
include ../../../components/blocks/nav-pages/nav-pages
include ../../../components/blocks/sidebar/sidebar

mixin category()
	+b('section').category
		.container
			.d-flex.flex-wrap
				+e.content.left-of-sidebar
					+filter
					+e.main
						+e.filter-order
						- for (var i = 0; i < 6; i++)
							+category-card
						+nav-pages
				+sidebar