mixin sidebar-card()
	+b.sidebar-card
		img.card-company__img.mb5.mt15(src='assets/images/car.jpg' alt='')
		h3.card-company__title-second.mb5.fz16 Audi Q7 4L [рестайлинг]
		span.price.price-smaller 2 523 700 ₽