include ../../elements/single-card/single-card

mixin similar()
  +b('section').similar
    .container
      +e('h2').title Похожие объявления
      .cards
        - for (var i = 0; i < 8; i++)
          +single-card({})
      .d-flex.justify-content-center.mt20
        button.button.button_gray.button_big Показать все объявления из этой категории
