mixin before-active()
  +b('section').email-active.before-active
    +b.container
      +b('img')(src='assets/images/activateaccount.svg' alt='')
      +b.email-active__text
        +e('h2') Теперь вы должны
          +e('strong')  активировать свой аккаунт
        +e('p').two
          +e('strong') Перейдите по ссылке,
          |  которую мы вам только что выслали.
        +e('p').three
          | Если
          +e('strong')  не найдете письмо
          |  в почте,
          +e('strong')  проверьте Спам.
        +e.btns
          +b('a')(href='#').button.button_red Проверить e-mail
          +e('a')(href='#').btn-right Отправить еще раз
            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve', width='512px', height='512px')
              g
                path.active-path(d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                    C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                    c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z', data-original='#1E201D', data-old_color='#4d8eff', fill='#4d8eff')

