mixin single-card(data)
  if data.big
    - var big = 'single-card__big'
    - var bigAttr = '2'
  +b.single-card.js-detail-wrap.masonry(class= big || '', data-horizontal=bigAttr || '1', data-vertical="1")
    +e.main
      +e.top
        +b.card-bg
        +e.overlay
          if data.gif
            button.gifer-play-button
          a(href='#' data-modal=`#card-detail${data.index}`).js-openModal
          if !data.top
            +e('span').view.__city
              i.fa.fa-camera
              span 5
        +e.top-content
          if data.top
            .width100
              +e('span').top-label Top
          +e('a').city(href='#') Москва
          +e('a').like(href='#')
            if data.like
              i.fa.fa-heart
            else
              i.fa.fa-heart-o
        if data.gif
          +e.gif-content
            +e('span').gif-label Gif
          img.bg-img.gif(data-gifffer='assets/images/cards/dinamic.gif' alt='')
        else
          if data.big
            img.bg-img(src='assets/images/cards/company.jpg' alt='')
          else
            img.bg-img(src='assets/images/cards/bag.jpg' alt='')
      +e.bottom
        if data.big
          +e('a').title(href='#') Игровая компания UBISOFT (является одним из крупнейших игровых издателей в Европе и США)
          .sm-none
            +e.big-bottom
              +e('a').company-link(href='#') Перейти на страницу компании
              +e('a').button.button_white-on-pink.button_small.ml-auto(href='#') 250 товаров
          .sm-block
            +e('a').company-link(href='#') Страница компании
              img.ml5(src='assets/images/arrow-sm.png' alt='')
        else
          +e('a').title(href='#') Рюкзак из натуральной кожи, размеры 30х35 см
          span.price.price-adaptive.price-small 1800₽
    .modal.modal__detail.container.modal-js(id=`card-detail${data.index}`)
      +e.detail
        button.button_close.js-modalClose ×
        +e.detail-content
          +e.detail-img
            img.bg-img(src='assets/images/cards/bag.jpg' alt='')
            +e.detail-img-content
              span.single-card__view.single-card__city
                i.fa.fa-camera
                span 5
          +e.detail-main
            a.button.button_small.button_gray.sm-none(href='#') Мода и стиль
            +e('h3').detail-title.mb15.mt20 Рюкзак из натуральной крокодильей кожи, размеры 30х35 см
            +e.info-second
              .sm-block.mr-auto
                a.button.button_small.button_gray Мода и стиль
              +e('span').detail-date Добавлено: 19 марта 2018, 17:15
              +e.detail-view.sm-none
                img.mr5(src='assets/images/icon-eye.png' alt='')
                span 255
              a.d-flex.align-items-center.ml-auto.mt5.mb5.lg-none(href='#')
                +b('svg').__icon.ico._gray
                  +e('use')(xlink:href="assets/images/svg.svg#nav")
                span.ml5 Санкт - Петербург
            +e.info
              p Размер: 30/35см
              p Материал: натуральная кожа супер качество!
              p Форму держит, на змейке внутри, носиться как сумкой так и рюкзаком!
              p Цвет: чёрная
            .d-flex.flex-wrap.align-items-center.justify-content-end.mt10
              +e('a').detail-like.mt5.mb5(href='#')
                i.fa.fa-heart-o
                span В избранное
              .sm-block.mr-auto
                +e.detail-view
                  img.mr5(src='assets/images/icon-eye.png' alt='')
                  span 255
              a.button.button_red.mt5.mb5.ml15 Посмотреть полностью
            .mt10.fw-semi-bold.fz18.mb10.lg-none
              span Похожие объявления:
            +e.slider.lg-none
              - for (var i = 0; i < 8; i++)
                if i < 4
                  - var num = i + 1
                else
                  - var num = i - 3
                +e('a').slider-item(href='#')
                  img.bg-img(src=`assets/images/cards/bag-0${num}.jpg` alt='')
