mixin reset-password()
  +b('section').email-active.resending.reset-password
    +b.container
      +b('img')(src='assets/images/sbrosparol.svg' alt='')
      +b.email-active__text
        +e('h2')
          +e('strong') Поменять пароль
        +e('p').two Введите ваш e-mail,
          +e('strong') новый пароль
          | и подтвердите изменения, пройдя по ссылке в письме.
        +e('form').form
          +e('input')(type='text' name='email' placeholder='Введите новый пароль')
          +b('button').button.button_red Завершить
        +e('p').three
          | Пароль нужен для входа в разделы
          +e('strong')   Мои объявления, Мои услуги, Мои магазины
          |  и открывает возможность работы с объявлениями:
        +e('ul').list
          +e('li') редактирование, удаление и обновление;
          +e('li') просмотр сообщений;
          +e('li') просмотр избранных объявлений;
          +e('li') предоставление своих услуг или услуг компании
          +e('li') размещение своего магазина в каталоге.
