mixin filter()
  +b.filter.sidebar-filter-pc.jsStickyFilter#sidebar-filter-pc
    +b.sidebar-inner
      +e.tabs.tabs
        +e('span').tab.tab(data-id='oldCar') С пробегом
        +e('span').tab.tab.tab-active(data-id='newCar') Новые
      .tab-content.pc-tab-content
        .tab-item(id='oldCar')
          +e.tab-item
        .tab-item.tab-item-active(id='newCar')
          +e.tab-item
            -
              var select = [
              'Легковые автомобили',
              'Марка',
              'Модель',
              'Тип кузова',
              'Коробка',
              'Типы двигателя'
              ]
            each item in select
              .select.mb10
                select.select2-js(data-placeholder= item)
                  option
                  -
                    var options = [
                    'AC',
                    'Acura',
                    'Alfa Romeo',
                    'Alpina',
                    'AM General',
                    'Ariel'
                    ]
                  - for (var i = 0; i < 10; i++)
                    each option in options
                      option= option
            .hr.mt15.mb25
            +b.filter__price
              input(type='number' placeholder='Цена от, ₽')
              input(type='number' placeholder='до')
            .hr.mt25.mb20
            .d-flex.justify-content-between
              +b('label').checkbox.checkbox-normal.mt5.mb5
                input(type='checkbox')
                +e.main
                  i.fa.fa-check
                span Частные
              +b('label').checkbox.checkbox-normal.mt5.mb5
                input(type='checkbox')
                +e.main
                  i.fa.fa-check
                span Автодилеры
