extends ../components/layout-default/layout-default
include ../components/components/blocks/reset-password/reset-password

block head
  - var pageTitle = 'Reset password';

block content
  +reset-password()
