mixin header-mobile()
  +b('header').header-mobile
    .container
      button.mobile-btn-menu
        - for (var i = 0; i < 9; i++)
          span
      +b('a')(href="/").logo
        +e('img')(src="assets/images/logo.png", width="175", height="47", alt="RUBON").img
