extends ../container/container
include ../button/button

mixin header()
  +b('header').header
    +container('_flex')
      +b('a')(href="/").logo
        +e('img')(src="assets/images/logo.png", width="175", height="47", alt="RUBON").img

      +b('form').global-search
        +e('input')#global-search.input(type="search", placeholder="Поиск...")
        +e('input')#global-search_submit.submit(type="submit")

        +e('label').label(for="global-search_submit")
          +b('svg').ico._gray._small
            +e('use')(xlink:href="assets/images/svg.svg#search")
        +e('button').close.js-search-close Закрыть

      svg.ico_gray.search-mobile.js-search-open
        +e('use')(xlink:href="assets/images/svg.svg#search")

      +b('button')(type="button").choose-region.js-openLocationModal
        +b('svg').__icon.ico._gray
          +e('use')(xlink:href="assets/images/svg.svg#nav")
        +b('span').gray-text Регион

      +button('_red mr10 header__btn--first xl-none') Дать объявление
      +button('_blue mr20 xl-none') Создать организацию

      +b.header__profile.xl-none
        +e('a')(href="#").registration
          +b('svg').ico._gray.mr10
            +e('use')(xlink:href="assets/images/svg.svg#reg")
          +b('span').gray-text Регистрация
        +e('a')(href="#").enter.red-text Войти
  +b.modal.js-locationModal
    +e.overlay.js-modalClose
    +e.content
      +e('header').header
        +e('h2').title Выберите город
      +e.body
        +e('form').form-location(id="location")
          +e('input').city-search(type="search" name="city-search" placeholder="Введите город")
        +b.city-choise
          +e('ul').list
            -
              var items = [
                'Донецк',
                'Москва',
                'Магадан',
                'Курск',
                'Воронеж',
                'Волгоград',
                'Санкт-Петербург',
                'Пекин',
                'Чайнатаун',
                'Белгород',
                'Ростов-на-Дону',
                'Ставпрополь',
                'Сибирь',
                'Кострома',
                'Большая Лаповка',
                'Провинция Шаньдун',
                'Сеул',
                'Токио',
                'Мурманск',
                'Луганск',
                'Снежное',
                'Сибирь',
                'Кострома',
                'Большая Лаповка',
                'Провинция Шаньдун',
                'Сеул',
                'Токио',
                'Мурманск',
                'Луганск',
                'Снежное',
                'Провинция Шаньдун',
                'Сеул',
                'Токио',
                'Мурманск',
                'Луганск',
                'Снежное'
              ]
            each item in items
              +e('li').li
                a.header-nav__link.header-nav__dropdown-link(href='#')= item
      +e('footer').footer
        button.button.button_white.modal__btn Отмена
        button.button.button_red.modal__btn Выбрать
      +e('button').close.js-modalClose ×
