@import "../../shared/sass/imports"

.city-choise
  @media (max-width: $lg)
    overflow: scroll
    max-height: calc(100vh - 380px)
  &__list
    display: flex
    flex-direction: column
    flex-wrap: wrap
    height: 330px
    margin: 0
    padding: 30px
    padding-bottom: 0
    list-style: none
    overflow: hidden
    @media (max-width: $md)
      height: 400px
    @media (max-width: 650px)
      height: 650px
    @media (max-width: 480px)
      height: unset
  &__li
    width: 25%
    margin-bottom: 10px
    @media (max-width: $md)
      width: calc(100% / 3)
    @media (max-width: 650px)
      width: 50%
    @media (max-width: 480px)
      width: 100%

.global-search
  position: relative
  flex-grow: 1
  margin-right: 15px
  transition: $transition
  &--active
    top: 0
  &__input
    width: 100%
    padding: 8px 20px
    border: 1px solid #e5e5e5
    border-radius: 4px
  &__submit
    position: absolute
    left: -99999px
    z-index: -999
  &__label
    position: absolute
    top: 10px
    right: 10px
    cursor: pointer

.header
  position: sticky
  z-index: 101
  top: 0
  padding: 20px 0
  font-size: 13px
  background-color: #fff
  @media (max-width: $xl)
    display: none
  &__category
    +btn
    display: flex
    align-items: center
    width: 96px
    padding: 0
    margin-right: 20px
    color: $red
    font-size: 13px
    overflow: hidden
    transition: $transition
    &-none
      width: 0
  &__profile
    display: flex
    align-items: center
  &__registration
    display: flex
    align-items: center
    padding: 10px 0
    padding-right: 5px
    border-right: 1px solid #f0f0f0
  &__enter
    padding: 10px 0
    padding-left: 15px

