include ../../../node_modules/bemto.pug/bemto
include ../header/header
include ../header-nav/header-nav
include ../header-mobile/header-mobile
include ../nav-mobile/nav-mobile
include ../footer/footer

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    block head
    title= pageTitle || ''

    link(href='assets/libs/font-awesome-4.7.0/css/font-awesome.css' rel='stylesheet')
    link(href='assets/libs/slick/slick.css' rel='stylesheet')
    link(href='assets/libs/fancybox/jquery.fancybox.css' rel='stylesheet')
    link(href='assets/css/style.css' rel='stylesheet')
    link(href='assets/fonts/fonts.css' rel='stylesheet')
  body
    +header(index)
    +header-nav(index)
    +header-mobile
    +nav-mobile
    main.main
      block content
    +footer
    script(src='assets/libs/jquery-3.3.1.js')
    script(src='assets/libs/slick/slick.min.js')
    script(src='assets/libs/masonry/CG.js')
    script(src='assets/libs/masonry/Masonry.js')
    script(src='assets/libs/masonry/events/MasonryEvents.js')
    script(src='assets/libs/masonry/masonry/MasonryFixedSize.js')
    script(src='assets/libs/masonry/masonry/MasonryFixedWidth.js')
    script(src='assets/libs/fancybox/jquery.fancybox.js')
    script(src='assets/libs/gifffer.min.js')
    script(src='assets/js/script.js')
