@import "imports"

.bg-img
  +fit-cover

.overlay
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0, 0, 0, 0.5)

.modal
  display: none
  position: fixed !important
  top: 50%
  bottom: unset
  left: 50%
  z-index: 1003
  transform: translate(-50%,-50%)
  flex-direction: column
  justify-content: space-between
  width: 610px
  max-width: calc(100% - 30px)
  background-color: #fff
  border-radius: 4px
  @media (max-width: $lg)
    top: 20px
    max-height: calc(100vh - 40px)
    transform: translateX(-50%)
    overflow: scroll
  &__left,
  &__right
    display: flex
    flex-direction: column
    justify-content: center
    width: 43%
    @media (max-width: $md)
      width: 100%
  &__right
    padding-top: 40px
    padding-bottom: 20px
    @media (max-width: $md)
      padding: 0
  &__center
    +flex-center
    position: relative
    width: 14%
    letter-spacing: 0.35px
    font-size: 14px
    @media (max-width: $md)
      padding: 20px
      width: 100%
    span
      +flex-center
      position: relative
      +size(40px)
      background-color: #fff
    &:before
      position: absolute
      content: ''
      top: 0
      bottom: 0
      width: 1px
      background-color: #e8e8e8
      @media (max-width: $md)
        top: unset
        bottom: unset
        width: 100%
        height: 1px
  &-big
    width: 790px
  &__detail
    padding: 0 !important
  &__overlay
    position: fixed
    z-index: 1001
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,.5)
    opacity: 0
    pointer-events: none
    transition: $transition
    &-active
      opacity: 1
      pointer-events: all
  &__header
    padding: 30px
    @media (max-width: 768px)
      padding: 20px 30px
  &__title
    margin: 0
    font-weight: 600
    text-align: center
    font-size: 30px
    &-small
      font-size: 24px
  &__form
    width: 350px
    max-width: 100%
    margin: 30px auto 40px
    &-location
      width: 100%
  &__city-search
    width: 100%
    padding: 15px 30px
    font-size: 20px
    font-weight: 500
    border: none
    border-top: 1px solid #f0f0f0
    border-bottom: 1px solid #f0f0f0
  &__content
    padding: 55px 45px
    &-two
      padding: 40px 45px
    @media (max-width: $lg)
      max-height: 100%
      overflow: scroll
    @media (max-width: $md)
      padding: 35px
    @media (max-width: $sm)
      padding: 35px 15px
  &__text
    text-align: center
    font-size: 16px
    letter-spacing: 0.8px
  &__footer
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    padding: 30px
    @media (max-width: $lg)
      flex-direction: column
      align-items: center
      .button
        &:first-child
          margin-bottom: 10px
    @media (max-width: 768px)
      padding: 20px 30px
  &__btn
    width: 350px
    max-width: 100%
    padding: 17px 23px !important
    font-size: 20px !important
    &-small
      padding: 14px 23px !important
      font-size: 18px !important
    @media (max-width: $md)
      width: 100%
  &__social
    display: flex !important
    align-items: center
    width: 350px
    max-width: 100%
    margin-left: auto
    margin-right: auto
    margin-bottom: 10px
    padding: 14px 23px !important
    font-size: 15px !important
    @media (max-width: $sm)
      padding: 14px 15px !important
      font-size: 14px !important
      letter-spacing: 0.2px !important
    .fa
      +flex-center
      width: 24px
      margin-left: auto
      font-size: 22px
  &__input
    margin-bottom: 10px
    padding: 19px
    width: 100%
    font-size: 16px
    letter-spacing: 0.36px
    color: $main
    border: 1px solid #e8e8e8
    &-small
      padding: 14px 19px
      font-size: 15px
    &::placeholder
      color: $main
  &__link
    font-weight: 700
    cursor: pointer
.btn-close
  $size: 20px
  $p: 0
  +btn
  +flex-center
  position: absolute
  top: 10px
  right: 10px
  width: $size
  height: $size
  padding: $p
  cursor: pointer
  span
    position: absolute
    display: inline-block
    width: $size - $p * 2
    height: 1px
    background-color: $main
    &:first-of-type
      transform: rotate(45deg)
    &:last-of-type
      transform: rotate(-45deg)

.tab-item
  height: 0
  opacity: 0
  overflow: hidden
  transition: opacity 0.5s ease, height 0s ease 1s
  &-active
    height: unset
    opacity: 1
    transition: opacity 0.5s ease

.avatar
  +f-size(70px)
  position: relative
  border-radius: 50%
  overflow: hidden
  img
    +fit-cover

.event-none
  pointer-events: none

.d-flex
  display: flex

.justify-content-center
  justify-content: center

.justify-content-end
  justify-content: flex-end

.justify-content-between
  justify-content: space-between

.flex-wrap
  flex-wrap: wrap

.align-items-center
  align-items: center

.align-items-start
  align-items: flex-start

.fa-heart
  color: $red

.xl-none
  @media (max-width: $xl)
    display: none !important

.lg-none
  @media (max-width: $lg)
    display: none !important

.lg-block
  display: none !important
  @media (max-width: $lg)
    display: block !important

.lg-flex
  display: none !important
  @media (max-width: $lg)
    display: flex !important

.md-none
  @media (max-width: $md)
    display: none !important

.md-block
  display: none !important
  @media (max-width: $md)
    display: block !important

.md-flex
  display: none !important
  @media (max-width: $md)
    display: flex !important

.sm-none
  @media (max-width: $sm)
    display: none !important

.sm-block
  display: none !important
  @media (max-width: $sm)
    display: block !important

.hr
  width: 100%
  height: 1px
  background-color: #e2e2e2

.js-openModal
  cursor: pointer

.check-pulse
  +size(82px)
  +flex-center
  margin: 50px auto
  color: #ffffff
  font-size: 40px
  background-color: $red
  border-radius: 50%
  animation: pulseShadow 2s ease infinite

@keyframes pulseShadow
  0%
    box-shadow: 0 0 0 0 transparentize($red, 0)
  33%
    box-shadow: 0 0 0 7px transparentize($red, 0.6), 0 0 0 0 transparentize($red, 0.3)
  66%
    box-shadow: 0 0 0 14px transparentize($red, 0.6), 0 0 0 7px transparentize($red, 0.3)
  100%
    box-shadow: 0 0 0 0 transparentize($red, 0)

.body-overflow
  overflow: hidden

.card-bg
  position: absolute
  width: 100%
  height: 100%
  background: linear-gradient(transparent 60%, rgba(96,96,96,.4))
  z-index: 1
