extends ../container/container

mixin header-nav()
  +b('nav').header-nav
    .container
      +e.overflow
        +e.wrap
          -
            var items = [
              {
                title: 'Транспорт',
                img: 'car'
              },
              {
                title: 'Дом и сад',
                img: 'chair'
              },
              {
                title: 'Недвижимость',
                img: 'key'
              },
              {
                title: 'Мода и стиль',
                img: 'necktie'
              },
              {
                title: 'Электроника',
                img: 'devices'
              },
              {
                title: 'Хобби, отдых и спорт',
                img: 'ball'
              },
              {
                title: 'Бизнес и услуги',
                img: 'business'
              },
              {
                title: 'Животные',
                img: 'paw'
              },
              {
                title: 'Работа',
                img: 'job'
              },
              {
                title: 'Детский мир',
                img: 'bear'
              }
            ]
          -
            var dropdown = [
              'Мотоциклы',
              'Мопеды',
              'Машины',
              'Телефоны',
              'Всякое другое'
            ]
          each item in items
            +e.item-wrap.js-showCategoryList
              +e.item
                +e('a').link.__link-category(href='#')
                  +e('img').svg(src=`assets/images/svg/${item.img}.svg` alt='' width="25" height="25")
                  span= item.title
              +e('ul').dropdown
                each dropItem in dropdown
                  +e('li').dropdown-li
                    +e('a').link.__dropdown-link(href='#')= dropItem
        +e('button').next.js-nextCategories
          svg
            +e('use')(xlink:href="assets/images/svg.svg#arrow")
