extends ../container/container

mixin header-nav(index)
  if index
    - var menu = 'header-nav-open'
  .menu__overlay.js-menu-close
  +b('nav').header-nav(class= menu || '')
    +e('button').btn.js-btn-menu
      span
      span
      span
    .container
      +e.wrap
        -
          var items = [
            {
              title: 'Транспорт',
              img: 'car'
            },
            {
              title: 'Дом и сад',
              img: 'chair'
            },
            {
              title: 'Недвижимость',
              img: 'key'
            },
            {
              title: 'Мода и стиль',
              img: 'necktie'
            },
            {
              title: 'Электроника',
              img: 'devices'
            },
            {
              title: 'Хобби, отдых и спорт',
              img: 'ball'
            },
            {
              title: 'Бизнес и услуги',
              img: 'business'
            },
            {
              title: 'Животные',
              img: 'paw'
            },
            {
              title: 'Работа',
              img: 'job'
            },
            {
              title: 'Детский мир',
              img: 'bear'
            }
          ]
        -
          var dropdown = [
          'Мотоциклы',
          'Мопеды',
          'Машины',
          'Телефоны',
          'Всякое другое'
          ]
        each item, index in items
          +e.item-wrap.js-showCategoryList
            +e.item
              +e('a').link.__link-category(href='#')
                +e('img').svg(src=`assets/images/svg/${item.img}.svg` alt='' width="25" height="25")
                span= item.title
            +e.dropdown
              if index === 3
                -
                  dropdown = [
                    'Мотоциклы',
                    'Мопеды',
                    'Машины',
                    'Телефоны',
                    'Всякое другое',
                    'Мотоциклы',
                    'Мопеды',
                    'Машины',
                    'Телефоны'
                  ]
              - var count = 5
              - var listsCount = Math.ceil(dropdown.length / count)
              - for (var i = 1; i <= listsCount; i++)
                +e('ul').dropdown-list
                  each dropItem, indexDrop in dropdown
                    if indexDrop + 1 <= i * count && indexDrop + 1 > i * count - count
                      +e('li').dropdown-li
                        +e('a').link.__dropdown-link(href='#')= dropItem
